<form method="post" action="{{ path('app_admin_files_delete', {'id': file.id}) }}">
	<div class="fixed bottom-10 end-50 z-10">
		<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ file.id) }}">
		{% set modalId = 'delete-modal-' ~ file.id %}
		<button type='button' class="btn btn-soft btn-error hover:text-base-100" data-controller="modal" data-modal-target-modal-value="{{ modalId }}">
			<span class='i-tabler-trash text-xl'></span>
		</button>
	</div>
	{% include theme.themeDirectory ~ "/partials/_delete_modal.html.twig" with {modalId: modalId, objectName: "File"|trans} %}
</form>
