<form method="post" action="{{ path('app_admin_files_delete', {'id': file.id}) }}">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ file.id) }}">
	{% include theme.themeDirectory ~ "/partials/_delete_form_button.html.twig" with {objectName: 'File'|trans} %}
</form>
