{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="fixed bottom-10 end-10">
        <button type="submit" class="btn btn-soft btn-success hover:text-base-100">
            <i class="i-tabler-cloud-upload text-xl"></i>
            {% trans %}Upload{% endtrans %}
        </button>
    </div>
{{ form_end(form) }}
