{% extends 'base.html.twig' %}

{% block actions %}
	<a href='{{ path('app_admin_files_new') }}' class="btn btn-primary btn-outline">
		<i class="i-tabler-cloud-upload text-lg"></i>
		{% trans %}Upload New File{% endtrans %}
	</a>
{% endblock %}

{% block body %}
	{{ component('FilesSearchComponent', {listTopic: 'files'}) }}
{% endblock %}
