{% extends 'base.html.twig' %}

{% block actions %}
    <a href='{{ path('app_admin_configuration_new') }}' class="btn btn-outline">
        <i class="i-tabler-plus text-lg"></i>
        {% trans %}Add New Configuration{% endtrans %}
    </a>
{% endblock %}

{% block body %}
    {{ component('ConfigurationsSearchComponent', {listTopic: 'configurations', loading: 'lazy'}) }}
{% endblock %}
