{% extends 'security/login.html.twig' %}
{% block body %}
	<div class="flex items-center justify-center grow bg-center bg-no-repeat page-bg">
		<div class="card max-w-[440px] w-full">
			<div class="card-body p-10">
				<div class="flex justify-center py-10 mb-5">
					<i class="ki-filled ki-directbox-default text-8xl text-primary"></i>
				</div>
				<h3 class="text-lg font-medium text-gray-900 text-center mb-3">
					{% trans %}Reset your password{% endtrans %}
				</h3>
				<div class="text-2sm text-center text-gray-700 mb-5">
					{% trans with {
						expire: resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle'),
						forgot_password_path: path('app_forgot_password_request')
					} %}reset_password.check_mail{% endtrans %}
				</div>
				<div class="flex items-center justify-center gap-1">
					<a href="{{ path('homepage') }}" class="btn btn-primary">
						<span class='i-tabler-chevron-left text-xl'></span>
						<span>{% trans %}Back to mainpage{% endtrans %}</span>
					</a>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
