<h1>{% trans with {
    user: user.name
} into locale %}Hi {user}{% endtrans %},</h1>

<p>{% trans with {
    expire: resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle')
} into locale %}You can reset your password using the link below. This link will expire in {expire}{% endtrans %}</p>

<a href="{{ url('app_reset_password', {token: resetToken.token, _locale: locale}) }}">
    {{ url('app_reset_password', {token: resetToken.token, _locale: locale}) }}
</a>

