{% extends "@emails/_email.html.twig" %}
{% block content %}
	<row>
		<columns>
			<center class="text-center">
                <spacer size="16"></spacer>
				<h1>{% trans with {user: user.name} into locale %}Hi {user}{% endtrans %},</h1>

				<p>{% trans with {expire: resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle')} into locale %}You can reset your password using the link below. This link will expire in {expire}{% endtrans %}</p>

				<button href="{{ url('app_reset_password', {token: resetToken.token, _locale: locale}) }}">
					{% trans %}Reset password{% endtrans %}
				</button>
			</center>
		</columns>
	</row>

{% endblock %}
