{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="fixed bottom-10 end-10">
        <button type="submit" class="btn btn-soft btn-success hover:text-base-100" data-turbo="false">
            <i class="i-tabler-check text-xl"></i>
            {% trans %}Save{% endtrans %}
        </button>
    </div>
{{ form_end(form) }}
