{% extends 'base.html.twig' %}

{% block actions %}
	<a href='{{ path('app_admin_users_new') }}' class="btn btn-outline">
		<i class="i-tabler-plus text-lg"></i>
		{% trans %}Add New User{% endtrans %}
	</a>
{% endblock %}

{% block body %}
	{{ component('UsersSearchComponent', {listTopic: 'users', loading: 'lazy',  options: {'allow_remove': false}}) }}
{% endblock %}
