/* Tailwind core */
@import './tom-select.css';
@import "tailwindcss";
@source "../../templates/**/*.html.twig";
@source "../**/*.js";
@source "../../vendor/**/*.html.twig";
@source "../../vendor/**/*.js";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@plugin "daisyui/theme";

@plugin '@egoist/tailwindcss-icons';

.menu li > *:not(.menu-active, .dropdown-content, details):hover {
   background-color: color-mix(in oklab,var(--color-base-content)10%,transparent) !important; 
}

.menu li > *:not(details, .menu-active, .dropdown-content):active {
   background-color: color-mix(in oklab,var(--color-base-content)40%,transparent) !important; 
}

.action-remove{
   @apply bg-error/30;
}

.action-create{
   @apply bg-success/30;
}

.action-update{
   @apply bg-primary/30;
}