/* Tailwind core */
@import './sidebar.css';
@import "tailwindcss";
@source "../../templates/**/*.html.twig";
@source "../**/*.js";
@source "../../vendor/**/*.html.twig";
@source "../../vendor/**/*.js";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@plugin "daisyui/theme";

@plugin '@egoist/tailwindcss-icons';

.menu li > *:not(.menu-active, .dropdown-content):hover {
   background-color: color-mix(in oklab,var(--color-base-content)10%,transparent) !important; 
}

.menu li > *:not(.menu-active, .dropdown-content):active {
   background-color: color-mix(in oklab,var(--color-base-content)40%,transparent) !important; 
}

.action-remove{
   @apply bg-red-300 dark:bg-red-700;
}

.action-create{
   @apply bg-green-300 dark:bg-green-700;
}

.action-update{
   @apply bg-blue-300 dark:bg-blue-700;
}