/* Tailwind core */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.sidebar{
    @apply [.open&]:lg:w-64 [.open&]:border-r-2 [.open&]:border-gray-300 hover:lg:w-64 hover:border-r-2 hover:border-gray-300 duration-300 bg-[--tw-page-bg] dark:bg-[--tw-page-bg-dark];
    transition-property: width;
    overflow: auto;
}
.sidebar:hover .tooltip, .sidebar.open .tooltip{
    @apply block !bg-inherit text-black dark:text-white hover:text-black dark:hover:text-white shadow-none !transform-none;
    position: initial !important;
}

.sidebar-item{
    @apply flex items-center w-full p-0.5 rounded-lg;
}

.sidebar-icon{
    @apply btn btn-icon btn-icon-lg rounded-full size-10 border border-transparent text-gray-600 [.active&]:bg-light [.active&]:text-primary [.active&]:border-gray-300
}

.sidebar-item:hover, .sidebar-item:hover .sidebar-icon{
    @apply bg-light text-primary border-gray-300;
}

@layer components {
    .action-create {
        @apply !bg-green-300 dark:!bg-green-600;
    }
    .action-update {
        @apply !bg-yellow-300 dark:text-slate-600;
    }
    .action-remove {
        @apply !bg-red-300 dark:!bg-red-600;
    }

    /* Tom Select Styles */
    .ts-control{
        @apply dark:bg-slate-700 border-inherit;
    }
    .ts-control input{
        @apply dark:placeholder-gray-200 dark:text-gray-100;
    }
    .ts-wrapper.multi .ts-control > div{
        background-image: none !important;
        @apply bg-slate-300 border-slate-300 text-slate-800 dark:bg-slate-800 dark:border-slate-800 dark:text-slate-300;
    }
    .ts-wrapper.plugin-remove_button:not(.rtl) .item .remove{
        @apply border-s-slate-800;
    }
    .ts-dropdown{
        @apply bg-slate-300 text-slate-800 dark:bg-slate-800 dark:text-slate-300;
    }

    .ts-dropdown .active{
        @apply bg-blue-400 text-slate-800 dark:bg-blue-600 dark:text-slate-300;
    }

    .ts-dropdown .create{
        @apply  text-slate-800 dark:text-slate-300;
    }
    /* Tom Select Styles */
}