{% extends theme.themeDirectory ~ '/layout/master.html.twig' %}

{% block layout %}
	<body class="min-h-screen flex items-center justify-center bg-base-100 text-base-content">
		<div class="card w-full max-w-sm shadow">
			{% block flashes %}
				{{ include(theme.themeDirectory ~ '/partials/_flash_messages.html.twig') }}
			{% endblock %}
			{% block body %}{% endblock %}
		</div>
	</body>
{% endblock %}
