{% extends theme.themeDirectory ~ '/layout/master.html.twig' %}

{% block layout %}
	<body class="min-h-screen bg-base-100 text-base-content flex">
		{% block sidebar %}
			{% include theme.themeDirectory ~ "/partials/_sidebar.html.twig" %}
		{% endblock %}
		<!-- Main Content -->
		<div
			class="flex-1 flex flex-col">
			<!-- Navbar -->
			{% block header %}
				{% include theme.themeDirectory ~ "/partials/_header.html.twig" %}
			{% endblock %}
			{% block title %}
				<div class="bg-base-100 border-b border-base-300 p-4">
					<h1 class="text-lg font-semibold" id="page-title">{{ title ?? app_name }}</h1>
				</div>
			{% endblock %}
			<!-- Page Content -->
			<main class="flex-1 overflow-y-auto p-6 bg-base-100">
				<turbo-frame id='base-content' data-turbo-action="advance">
					{% block turboTitle %}
						{% set newTitle = title ?? app_name %}
						 <script>
							document.title = "{{ newTitle }}";
							document.getElementById('page-title').innerText = "{{ newTitle }}";
						</script>
					{% endblock %}
					<div class="flex justify-between flex-wrap grow">
						{% block backLink %}{% endblock %}
						<div class="flex flex-wrap items-center gap-5 ml-auto">
							{% block actions %}{% endblock %}
						</div>
					</div>
					{% block flashes %}
						{{ include(theme.themeDirectory ~ '/partials/_flash_messages.html.twig') }}
					{% endblock %}
					{% block body %}
						&nbsp;
					{% endblock %}
				</turbo-frame>
			</main>
			{% block footer %}
				{% include theme.themeDirectory ~ "/partials/_footer.html.twig" %}
			{% endblock %}
		</div>
	</body>
{% endblock %}
