{% extends "@base_theme/partials/datatable.html.twig" %}

{% block rows %}
	{% for user in pagination %}
		{% include "admin/users/user_row.html.twig" with {user: user} %}
	{% else %}
		<tr>
			<td colspan="6" class="px-6 py-3">{{ 'No Result Found'|trans }}</td>
		</tr>
	{% endfor %}
{% endblock %}
