<button type='button' data-modal-toggle="#delete-modal" class="btn btn-danger">
	<span class='ki-outline ki-trash'></span>
	<span>{% trans %}Delete{% endtrans %}</span>
</button>
{% include theme.themeDirectory ~ "/partials/_delete_modal.html.twig" with {modalId: 'delete-modal', objectName: objectName} %}
