<button type='button' data-modal-toggle="#delete-modal" class="btn btn-error">
	<span class='i-tabler-trash text-xl'></span>
	<span>{% trans %}Delete{% endtrans %}</span>
</button>
{% include theme.themeDirectory ~ "/partials/_delete_modal.html.twig" with {modalId: 'delete-modal', objectName: objectName} %}
