<button type='button' data-modal-target="delete-modal" data-modal-toggle="delete-modal" class="btn-danger md:w-full w-auto">
	<span class='i-tabler-trash me-1'></span>
	<span>{% trans %}Delete{% endtrans %}</span>
</button>
{% include "@base_theme/partials/delete_modal.html.twig" with {modalId: 'delete-modal', objectName: objectName} %}
