{% extends 'base.html.twig' %}

{% block title %}Edit Role{% endblock %}

{% block body %}
    <h1>Edit Role</h1>

    {{ include('admin/role/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_role_index') }}">back to list</a>

    {{ include('admin/role/_delete_form.html.twig') }}
{% endblock %}
