{% apply inky_to_html|inline_css(source('@emails/foundation-emails.css')) %}
    <container>
        <row class="header">
            <columns>
                <spacer size="16"></spacer>
                <center>
                    <a href="{{ url('homepage') }}">
                        <img src="{{ email.image('@assets/logo.png') }}" class="thumbnail" height=250 class="logo" alt="{{ app_name }} Logo">
                    </a>
                </center>
                <spacer size="16"></spacer>
            </columns>
        </row>

        {% block content %}
        {% endblock %}

        <row class="footer">
            <columns>
                <p>{{ app_name }}</p>
            </columns>
        </row>
        <spacer size="16"></spacer>
    </container>
{% endapply %}