<form method="post" action="{{ path('app_admin_page_delete', {'id': page.id}) }}">
	<div class="fixed bottom-10 end-40 z-10">
		<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ page.id) }}">
		{% set modalId = 'delete-modal-' ~ page.id %}
		<button type='button' class="btn btn-error btn-outliner" data-controller="modal" data-modal-target-modal-value="{{ modalId }}">
			<span class='i-tabler-trash text-xl'></span>
		</button>
	</div>
	{% include theme.themeDirectory ~ "/partials/_delete_modal.html.twig" with {modalId: modalId, objectName: "Page"|trans} %}
</form>
