<form method="post" action="{{ path('app_admin_page_delete', {'id': page.id}) }}">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ page.id) }}">
	{% include theme.themeDirectory ~ "/partials/_delete_form_button.html.twig" with {objectName: 'Page'|trans} %}
</form>
