{% extends '@base_theme/base.html.twig' %}

{% block actions %}
	<a href='{{ path('app_admin_page_new') }}' class="btn-success">
		<span class="flex justify-center items-center">
			<span class="i-tabler-plus me-2"></span>
			{% trans %}Add New Page{% endtrans %}
		</span>
	</a>
{% endblock %}

{% block body %}
	<div class="p-4">
		{{ component('pages_search', app.request.query.all()|merge({listTopic: 'pages'})) }}
	</div>
{% endblock %}
