{% extends 'base.html.twig' %}

{% block actions %}
	<a href='{{ path('app_admin_page_new') }}' class="btn btn-outline">
		<i class="i-tabler-plus text-lg"></i>
		{% trans %}Add New Page{% endtrans %}
	</a>
	{% if page is defined and page.id %}
		<a href='{{ path('app_page_view', {'slug': page.slug}) }}' data-turbo="false" class="btn btn-info btn-outline">
			<i class="i-tabler-eye text-lg"></i>
			{% trans %}View Page{% endtrans %}
		</a>
	{% endif %}
{% endblock %}

{% block body %}
	{{ component('PagesSearchComponent', {listTopic: 'pages', loading: 'lazy'}) }}
{% endblock %}
