{% extends 'base.html.twig' %}

{% block actions %}
	<div class="container-fluid flex md:justify-end items-center my-3 gap-5">
		<a href='{{ path('app_admin_page_new') }}' class="btn btn-primary btn-outline">
			<i class="i-tabler-plus text-lg"></i>
			{% trans %}Add New Page{% endtrans %}
		</a>
	</div>
	{% if page is defined and page.id %}
		<div class="container-fluid flex md:justify-end items-center my-3 gap-5">
			<a href='{{ path('app_page_view', {'slug': page.slug}) }}' data-turbo="false" class="btn btn-info btn-outline">
				<i class="i-tabler-eye text-lg"></i>
				{% trans %}View Page{% endtrans %}
			</a>
		</div>
	{% endif %}
{% endblock %}

{% block body %}
	{{ component('PagesSearchComponent', {listTopic: 'pages', loading: 'lazy'}) }}
{% endblock %}
