{% extends 'admin/page/index.html.twig' %}

{% block body %}
	<div class="p-4">
		<a href='{{ path('app_admin_page_index') }}' class="btn-info w-20">
			<span class="flex justify-center items-center">
				<span class="i-tabler-chevron-left me-2"></span>
				{% trans %}Back{% endtrans %}
			</span>
		</a>
		<div class="flex flex-wrap bg-white p-3 dark:bg-slate-900">
			<div class="md:w-9/12 w-full">
				{{ include('admin/page/_form.html.twig') }}
			</div>
		</div>
	</div>
{% endblock %}
